<!--Author:Ahmed Moataz-->
<div style="color:rgb(248,248,248);">Console:</div>
<div>
	<div class="console">	
		<!-- Compiler -->
		<p class="compilation_succeeded"></p>
		<p class="compilation_failed"></p>
		<p class="compilation_feedback"></p>
		<!-- Test Cases -->
		<div id="validate_case" >
		</div>
		<div id="output_section" style="white-space:pre;color:black; font-weight:bold; font-size:20px"></div>
		<!-- Runtime Messages -->
		<div id="runtime_error", style="display:none">
			<div class="panel-danger", style="white-space:pre">
				<div class="panel-heading", style="min-height:30px;
					max-height:30px; line-height:0.25px; margin-top:-45px">
					<h3 class="panel-title"> Error </h3>
				</div>
				<br/>
				<div id="error_section" class="panel-body" style="margin-top:-100px">
				</div>
				
				<div class="panel-heading", style="min-height:30px;
					max-height:30px; line-height:0.25px; margin-top:-90px">
					<h3 class="panel-title"> Explanation </h3>
				</div>
				<br/>
				<div id="explanation_section" class="panel-body" 
					style = "margin-top:-100px; min-height:50px;max-height:50px;"></div>
			</div>
		</div>
	</div>
</div>