<div class="input-group">
	<span class="input-group-addon label-info">Input:</span>
	<textarea placeholder="Write your test case here" id="solution_input"
		class="form-control" style="width:400px"></textarea>
</div>
<br>