<!-- Timer that starts when problem is shown -->
<b>Time spent:</b>
<span id="mins">0</span>:<span id="secs">00</span>


<br/> <br/>

<%= render partial: "solutions/editor"%>


<%= render partial: "solutions/input_output"%>

