<table  style = "width:60%">
	<tbody>
		<% @counter = 1 %>
		<% @lines.each do |line| %>
			<tr>
				<td><%= link_to "Add Note", {:controller => 'model_answers', :action => 'new', :problem_id => 1 }, class: 'btn btn-primary', id: @counter, style: "visibility:visible;opacity:0",
					onMouseOver: 'show(id)', onMouseOut: 'hide(id)' %>
					<pre title ="<%= @counter %>"><%= line %></pre></td>
			</tr>
			<% @counter+= 1 %>
		<% end %>
	</tbody>
</table>
<script>
	function show(id){
		document.getElementById(id).style.opacity = 1;
	}
	function hide(id){
		document.getElementById(id).style.opacity = 0;
	}
</script>