<!-- Name: Viewing a Single Topic
     Author: Ahmed Akram
-->


<h1>Topic Created</h1>
<br/>
<br/> 

<p>
    <strong> Creation Succeeded </strong>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @topic.description %>
</p>