<h1>Assignments#show</h1>
<%= link_to "Create Assignment", {:controller => 'assignments',
								:action => 'new', :course_id => @course.id},
								{class: 'btn btn-primary btn-large',
								style: "text-decoration:none"} %>