<#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
<style>
02
.circlediv {
03
 width: 100cm; height: 100cm;
04
 -webkit-border-radius: 5cm; -moz-border-radius: 5cm;
05
 text-align: center; margin-top: 4.5cm;
06
}
07
</style>
08
<div class="circlediv">
09
<?php echo subject; ?>
10
<br/>From
11
<?php echo from;?>
12
<br/>
13
<img height=1000px width=1000px src="<?php echo 'n.jpg'; ?>"/>
14
</div>

.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #0000FF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}
td{
   font-size: 18px;
   font-weight:normal;
   color:#f7f7f7; //this is a hex value representing a light grey
}