<h1>Acknowledge A student</h1>

<br/>
<% if flash[:notice] -%>
   <div class="alert alert-warning", style="display: inline-block;"><%= flash[:notice] %></div>
<% end %>
<br/>

<%= form_for :acknowledgement, url: {action: "create"} do  |f| %>

		<p>
			<%= select("teaching_assistant", "id", current_lecturer.worked_with.find(:all).collect {|p| [p.name ,p.id ] }, {:prompt => 'Select'}) %>
		</p>


	<p>
			<%= f.submit "Add TA", class: "btn btn-success"%>
	</p>	
<% end %>