<br><br>
<h1>Previous tips</h1>
<ul class="navbar-brand pull-right"><%= link_to "Create New Tip", { :controller => 'tips',:action => 'new',
	:model_answer_id => @answer.id }, { class: 'btn btn-primary btn' } %></ul><br>