<%= fields_for "course[resources_attributes][#{ resource.empty? ? 1 : (resource.last.id + 1) }]"\
	do |object| %>
	<div id="resource">
		<%= object.label :link %>
		<%= object.url_field :link , autofocus: true, class:"form-control resource",
			style: "width:300px", placeholder: "Link" %>
	</div>
<% end %>