<h2>
<%= @course.name %>
</h2>
<p>
Resources
</p>
<%- @course.resources.each do |resource| %>
	<div>
		<a href="<%= resource.link %>"> <%= resource.link %></a>
		<%= resource.description %>
	</div>
	<br/>
<% end%>