<div style="padding:10px;">
	<div style="padding:10px;">
		<p>
			<h2 id="contact_info"><%=current_user.name%></h2>
		</p>

		<p>
			<h3>Email:</h3>
			<% if current_user.email.nil?%>
				<%=current_user.email%>
			<%else%>
				No Email
			<%end%>
		</p>
		<p>
			<h3>Address:</h3>
			<% if current_user.address.nil?%>
				<%=current_user.address%>
			<%else%>
				No Address
			<%end%>
		</p>
	</div>
</div>