<% if !@problems.any? %>
		<p>There are no problems in the bank</p>
<% end %>
	<% if !@problems.empty? %>
		<table class="table table-striped" style = "width:60%">
			<thead>
				<tr>
					<th style = "width:2%">#</th>	
					<th style = "width:10%">Problem Title </th>
					<th style = "width:30%">tag</th>
				</tr>
			</thead>
			<tbody>
				<% @problems.each do |problem| %>
					<tr>
						    <% if problem.incomplete  == true %> 
						    <td style = "max-width: 300px; word-wrap:break-word;">
						    <%= link_to "ADD",
								{:controller => 'problem_bank',
								:action => 'show'},
								:track_id => @track_id, class: "btn btn-primary"%>
						    </td>
							<td style = "max-width: 300px; word-wrap:break-word;">
							<a href = "#"> <%= problem.title %> </a>
							</td>
							<td style = "width:20%"><%= problem.id %>
							</td>
							<% end %> 
					</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
