<div class="left-row">
	<div class="container" style='width:100%;'>
		<div id = "crumbs">
			<ul>
				<li class = "sub"><a class = "preventclick">Problem</a></li>
				<li class = "sub1">
					<a class = "preventclick" style = "padding: 5px 15% 0 0px;">
						Test cases
					</a>
				</li>
				<li class = "sub2">
					<%= link_to "Model Answers", {:controller => 'model_answers', :action => 'edit',
						:problem_id => params[:problem_id],:track_id => params[:track_id],
						:model_answer_id => params[:model_answer_id]},{:method => :get,
						:style=>'padding: 5px 3.75% 0 0px;', :class => "css_class"} %>
				</li>
				<li class="sub3"><%= link_to "Tips", {:controller => 'tips', :action => 'index',
					:model_answer_id => session[:model_answer_id],
					:track_id => params[:track_id], :problem_id => session[:problem_id]},
					:method => :get %>
				</li>
				<li class = "sub4"><a class="visit" >Hints</a></li>
			</ul>
		</div><br><br><br>
		<h2>Edit Hint</h2>
		<%= render 'form' %>
		<div>
			<ul class = "navbar-brand pull-right">
				<%= link_to "Back", {:controller => 'tips', :action => 'index',
					:track_id => session[:track_id], :problem_id => session[:problem_id],
					:model_answer_id => session[:model_answer_id]},:method => :get,
					:class => "btn btn-info"%>
			</ul>
		</div>
	</div>
</div>