// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#contact_info{
	color: black;
	font-family: 'open sans', Helvetica,Arial,sans-serif;
	font-size: 2.2em;
	text-transform: none;
	letter-spacing: 1px;
	line-height: 1.6;
}

h3{
	color: black;
	font-family: 'open sans', Helvetica,Arial,sans-serif;
	font-size: 1.0em;
	text-transform: none;
	letter-spacing: 1px;
	line-height: 1.2;	
}