<h1 align ="center">Edit Problem Page</h1>

<br>
<form action="">
Title: <input type="text" name="problemTitle"><br>
Description: <input type="text" name="problemDescription">

</form>
<!-- Answers Section -->
<form>
</form>
<!--Test Cases section -->
<form>
</form>
<!-- -->
<form>
</form>
<form action="" align = "center">
<input type="button" value="Save">
<input type="button" value="Cancel">
</form>
