@font-face
{
font-family: myFirstFont;
src: url(Lato-Black.ttf);
}


body{
	font-family:myFirstFont;
	background-image:url("rr.png");
	color: #C8B69C;
	font-size: 200%;
	margin: auto;
	text-align: center;

}
.h1 {
	text-align: left;
	padding-left: 10px;
	background-color: #4E5753;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom:  3px solid #A5A490;

	background-image:url("rrr.png");
	box-shadow: 2px 2px 2px rgba(228,221,139,0.5);

}
h1 , h2 {
	display: inline-block;

}
h1 {
	padding-right: 10px;
	border-right: 6px solid #C8B69C;
}
h2 {
	padding-left : 10px;
	padding-bottom: 10px;
}


.card {
	/*padding:  150px;*/
	
	
	margin: 100PX;
	display: inline-block;
	width: 200px;
	height: 340px;

}


.card div {
	position: absolute;
	width: 250px;
	height: 250px;

	font-size: 1.6em;
	line-height: 340px;
	text-align: center;
	

	border: 8px solid #C8B69C;
	border-radius: 50%;
	box-shadow: 2px 2px 2px rgba(228,221,139,0.5);

	-webkit-transition : all 1s ease;
	-webkit-backface-visibility : hidden ;
}


.card div span {
	position: absolute;
	left : 0;
	top :0;
	width: auto;
	line-height: 1em;

}

.card div span:last-child{
	right : 0;
	bottom : 0;
	left: auto;
	top : auto;
	transform: rotate(180deg);
}

.card .back{
	background-image:url("rrr.png");
	-webkit-transform: perspective(400) rotateY(0deg);
}
.card .front{
	background-image:url("rr.png");
	-webkit-transform: perspective(400) rotateY(-179.9deg);
}
.card:hover .back{
	-webkit-transform: perspective(400) rotateY(179.9deg);
}
.card:hover .front{
	-webkit-transform: perspective(400) rotateY(0deg);
}

.card div.back{
/*background: 
		linear-gradient(115deg, transparent 75%, rgba(255,255,255,.5) 75%) 0 0,
		linear-gradient(245deg, transparent 75%, rgba(255,255,255,.5) 75%) 0 0,
		linear-gradient(115deg, transparent 75%, rgba(255,255,255,.5) 75%) 7px -15px,
		linear-gradient(245deg, transparent 75%, rgba(255,255,255,.5) 75%) 7px -15px,
		#4E5753;
	background-size: 15px 30px;*/
}



#one{
	position: relative;
	/*top: 100px;
	background-color: orange;*/
	-webkit-transition : all 3s ease;
	}
#cardleft{
	position: relative;
	left: 410px;
	-webkit-transition : all 3s ease;
}
#cardright {
	position: relative;
	left: -410px;
	-webkit-transition : all 3s ease;
}

#cardright:hover {
	box-shadow:  2px 2px 2px rgba(255,255,255,0.5);
}
