<!-- [Post to Facebook - Story 5.1] -->
<!-- the facebook SDK for Javascript code to handle posting to facebook -->
<!-- Parameters: None -->
<!-- Returns: None -->
<!-- Author: Amir George -->
<div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '623954164351291',
                status     : true,
                xfbml      : true
            });
            FB.ui({
                method: 'feed',
                name: 'The Facebook SDK for Javascript',
                caption: 'Bringing Facebook to the desktop and mobile web',
                description: (
                    'A small JavaScript library that allows you to harness ' +
                    'the power of Facebook, bringing the user\'s identity, ' +
                    'social graph and distribution power to your site.'
                ),
                link: 'https://developers.facebook.com/docs/reference/javascript/',
                picture: 'http://www.fbrell.com/public/f8.jpg'
            },
                function(response) {
                    if (response && response.post_id) {
                        alert('Post was published.');
                    } else {
                        alert('Post was not published.');
                    }
                }
            );
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>