body {
	background-image: url("imgs/bg.jpg");
	/*margin:0;*/
}

.myImage {
	position: absolute;
	margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 250px;
    width: 250px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;

}

.photoCap {
	text-align: center;
}

.meDiv {
	background:url(imgs/me.jpg) no-repeat center center;
	height:200px;
	width:200px;
}

.fbLogo {
	top:40px;
    right: 60px;
    position: fixed;
    height: 130px;
    width: 130px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;
    visibility: hidden;
}
.twitterLogo {
		position: fixed;
        height: 130px;
        width: 130px;
        top:410px;
        right: 60px;
        border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;
    visibility: hidden; 
}

.githubLogo {
		position: fixed;
        height: 130px;
        width: 130px;
        top:220px;
        right: 60px;
        border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    border-bottom-right-radius: 125px;
    border-bottom-left-radius: 125px;
    visibility: hidden; 
}
