<html>
<head>
<title></title>
</head>
<body>

<% if student_signed_in? %>
Name : <% current_student.name %>
Solved Problems : <% @solved %>
Failures : <% @failed %>
<% end %>

<% else %>
You cant view this because you are not a student !
<% end %>

</body>
</html>
