<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<%= column_chart [
  [ "Solved ones",  @solved ],
  [ "Wrong attempts", @failed ],
  [ "Uncompleted ones", @incomplete]
 ],
 
 library: {bar: {groupWidth: "10%"}},
colors: ["lightblue"]
 %>
 <form action="/students/solved_problems" class="button_to" method="get"><div><input class="btn btn-success" style="margin-left:150px; margin-right:auto; margin-top: 60px" type="submit" value="Solved Ones" /></div></form>
 <form action="/students/failed_problems" class="button_to" method="get"><div><input class="btn btn-success" style="margin-left: 350px; margin-right:auto; margin-top: -63px" type="submit" value="Failed Ones" /></div></form>
 <form action="/students/incomplete_problems" class="button_to" method="get"><div><input class="btn btn-success" style="margin-left: 550px; margin-right:auto; margin-top: -110px" type="submit" value="Uncompleted Ones" /></div></form>
 