	<h3>Would you like to create a New Course or Create from an Existing Course</h3>
	<br><br>
	<%= button_to "New Course", {:action => 'new', :controller => 'courses'}, {
		class: 'btn btn-primary'} %>
	<%= button_to "Create from Existing", {:action => 'existing', :controller => 'courses'}, 
		class: 'btn btn-primary', style: "float:right;" %>