<!--Author: Mohab Ghanim -->
<div class="well course-craete-header">
	<h1><b>&raquo; Add new course </b> </h1>
	<hr>
</div>
<div class="container well" style="width:100%;">
	<%= render 'new_Course_form' %>
</div>

<style type="text/css">
	.course-craete-body {
		text-align: center;
		vertical-align: center;
	}
</style>