<h1>List of Assignments</h2>

<table class = "table table-striped", style = "width:80%">
	<tr>
		<th>Assignemnt</th>
		<th>Assignment grade</th>
	</tr>
	<% @assignments.each do |assi| %>
		<% if assi.publish %>
			<% @problems = assi.problems %>
			<% @problems.each do |p| %>
				<% @total_grade = @total_grade + p.final_grade %>
			<% end %>
			<% @problems.each do |p| %>
				<% @records.each do |r| %>
					<% if r.problem_id == p.id %>
						<% @student_grade = @student_grade + r.grade %>
					<% end %>
				<% end %>
			<% end %>
			<tr>
				<td><%= assi.title%>
				</td>
				<td><%= @student_grade %>/<%= @total_grade %></td>
				<td>
				</td>
			</tr>
			<% @total_grade = 0 %>
			<% @student_grade = 0 %>
		<% end %>
	<% end %>
</table>