/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require posts
 *= require bootstrap
 */
 html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background: #EEEFE9 !important;
}
body .container {
	
}

::-webkit-scrollbar {
    width: 1px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

footer {
	width: 100%;
}

hr {
	border-top: 1px solid #1a5f63 !important;
}

.ftr {
	background-image: url("/assets/ftr_bg_2.png");
	background-repeat: repeat;
	padding: 30px ;
	/*position: fixed;*/
	min-width: 100%;
	max-width: 100%;
}

.ftr address, .ftr a, .ftr p{
    color: #fff;   
}

.ft_space{
    padding: 0 10px;
    margin-top: 1.65%; 
}
.auto-height {
	height: auto;
}

.form-devise > div {
	margin: 10px;
	width: 300px;
}

.button-devise {
	margin-top: 10px;
}

.home {
	overflow:auto;
}
.zooming {
	-ms-transform: scale(0.8); /* IE 9 */
	-ms-transform-origin: left top;
	-webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
	-webkit-transform-origin: left top;
	transform: scale(0.8);
	transform-origin: left top;
	-moz-transform:  scale(0.8);
	-moz-transform-origin: left top;
}

.unzooming, #editor{
	-ms-transform: scale(1.25); /* IE 9 */
	-ms-transform-origin: left top;
	-webkit-transform: scale(1.25); /* Chrome, Safari, Opera */
	-webkit-transform-origin: left top;
	transform: scale(1.25);
	transform-origin: left top;
	-moz-transform:  scale(1.25);
	-moz-transform-origin: left top;
}

.zoom125{
	height: 125%;
	width: 125%;
}

#editor{
	width: 80%;
}

.no-scroll-x{
	overflow-x: hidden;
}
.well {
	background: transparent;
}
a{
	text-decoration: none;
	transition: all 0.5s;
}
a:hover{
	text-decoration: none !important;
}
.well{
	background-color: transparent !important;
}