/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.center {
	margin: 0 auto;
	width: 80%;
}

.home-banner {
	margin: 10px 0;
	font-family: 'Telex', sans-serif;
	font-weight: bold;
	line-height: 20px;
	color: #317eac;
	text-rendering: optimizelegibility;
	font-size:38.5px;
}


.side-left {
	height:700px;
	margin-left:6px;
}


.side-right {
	height:700px;
	margin-right:6px;
}

.main-content {
	margin-top:70px;
	margin-bottom:70px;
	width:60%;
	height:80%;
}