/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.side-left {
	height:700px;
	margin-left:6px;
}

.side-right {
	margin-top:70px;
	height:auto;
	margin-right:1.5%;
}

.main-content {
	margin-top:70px;
	margin-bottom:70px;
	height:auto;
	width:71%;
	margin-left:2%;
	margin-bottom: 100px;
}

.footer {
	height:20px;
	width:96%;
	border-radius: 2px;
	margin-left:2%;
	margin-right:2%;
}

.auto-height {
	height: auto;
}