/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require posts
 */
 html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

footer {
	width: 100%;
}

hr {
	border: 1px solid #1a5f63 !important;
}

.ftr {
	background-image: url("/assets/ftr_bg_2.png");
	background-repeat: repeat;
	padding: 100px 0 60px 0;
	min-width: 100%;
	max-width: 100%;
}

.ftr address, .ftr a, .ftr p{
    color: #fff;   
}

.ft_space{
    padding: 0 10px;   
}

.auto-height {
	height: auto;
}

.form-devise > div {
	margin: 10px;
	width: 300px;
}

.button-devise {
	margin-top: 10px;
}