.S {
	background: #A9F5A9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.WA{
	background: #F08080;	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.mytable {
	background: #f9f9f9;
}