#countdown {
	width: 240px;
	height: 50px;
}

.solution-accepted {
	background: #A9F5A9;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center
}

.wrong-answer {
	background: #F08080;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align : center;
}

.contest_table {
	background: #f9f9f9;
	text-align: center;
	margin-top: 20px;
}

.contest_information h2 {
	width: 30%;
	margin: auto;
}

.contest_information {
	text-align : center !important;
}

.contest_information ul {
	list-style: none;
	border-bottom: 1px solid #A0A4A6;
}

.contest_information ul li {
	display: inline;
	padding: 20px;
}

.contest_note{
	font-weight: bold;
	color: #75706B;
}

.box-example {
	width :50px;
	height: 20px;
	background-color: #BABABA;
	text-align: center;
	border-radius: 5px;
	float: left;
	font-weight: bold;
}

.box-note {
	float: left;
	margin-left: 5px;
	color: #75706B;
}