/*
 * Place all the styles related to the replies controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com/
 */

.submiting {
	width:100% !important;
	padding-top: 20px;
}
.submiting .submit_btn{
	padding-top: 1%;
	padding-right: 1%;
	float: right;
}