textarea  {
	resize: none;
}

.problem {
	text-align: left;
}

.accepted {
	display: none;
	color: green;
}

.wrong_answer {
	display: none;
	color: red;	
}

.runtime_error {
	display: none;
	color: red;	
}

.compilation_error {
	display: none;
	color: red;	
}

.presentation_error {
	display: none;
	color: blue;
}

#editor {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 20pc;
}

.fixed-content {
	max-height: 200px;
	overflow: auto;
}

.fixed-horizontal {
	max-width: 175px;
	overflow: auto;
}

.editor {
	background-color: black;
	color: white;
	width: 100%;
	min-height: 500px;
}

.test {
	width: 100%;
	min-height: 200px;
	float: left;
}

.console {
	color: orange;
	font-family: monospace;
	border: #999999;
	border-style: solid;
	border-width: thin;
	max-height: 150px;
	min-height: 150px;
	background: white;
	overflow: auto;
	max-width: 750px;
	min-width: 750px;
}

.compilation_succeeded {
	color: green;
	margin: 5px;
}

.compilation_failed {
	color: red;
	margin: 5px;
}

.compilation_feedback {
	white-space: pre;
	margin: 5px;
}

.editor_top {
	background-color: black;
	color: white;
	width: 100%;
}

.editor_bottom {
	background-color: black;
	color: white;
	width: 100%;
	margin-top: -12px;
}

.editor_border {
	border: #999999;
	border-style: solid;
	border-width: 3px;
	font-family: monospace;
}

.hidden {
	visibility: false;
}