textarea  {
	resize: none;
}

.problem {
	text-align: left;
}

.accepted {
	display: none;
	color: green;
}

.wrong_answer {
	display: none;
	color: red;	
}

.runtime_error {
	display: none;
	color: red;	
}

.compilation_error {
	display: none;
	color: red;	
}

.presentation_error {
	display: none;
	color: blue;
}

#editor {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 20pc;
}

.fixed-content {
	max-height: 200px;
	overflow: auto;
}

.fixed-dimensions {
	max-height: 230px;
	min-width: 180px;
	max-width: 180px;
	overflow: auto;
}

.editor {
	background-color: black;
	color: white;
	width: 100%;
	min-height: 500px;
}

.test {
	width: 100%;
	min-height: 200px;
	float: left;
}

.console {
	color: orange;
	font-family: monospace;
	border: #999999;
	border-style: solid;
	border-width: thin;
	max-height: 120px;
	min-height: 120px;
	background: white;
	overflow-y: scroll;
	overflow-x: scroll;
	overflow: auto;
	max-width: 100px;
	min-width: 100%;
	border-radius: 4px;
	background-color: rgb(35,35,35);
}

.compilation_succeeded {
	color: green;
	margin: 5px;
}

.compilation_failed {
	color: red;
	margin: 5px;
}

.compilation_feedback {
	white-space: pre;
	margin: 5px;
}

.editor_top {
	background-color: black;
	color: white;
	width: 100%;
}

.editor_bottom {
	background-color: black;
	color: white;
	width: 100%;
	margin-top: -12px;
}

.editor_border {
	border: #999999;
	border-style: solid;
	border-width: 3px;
	font-family: monospace;
}

.hidden {
	visibility: false;
}

.output {
	white-space: pre;
	color: black;
	font-weight: bold;
	font-size: 20px
}

.edit_button {
	width: 20%;
	height: 1%;
	margin_top: 10px;
	cursor: pointer;
}

.add_note_button {
	opacity: 0;
	width: 25%;
	height: 15%;
	margin_top: 10px;
	cursor: pointer;
}

.form_div {
	display: none;
	width: 60%;
}

.x_button {
	width: 18%;
	height: 15%;
	margin_top: 10px;
	cursor: default;
}

.tick_button {
	width: 20%;
	height: 20%;
	margin_top: 10px;
	cursor: default;
}

.total_grade {
	height: 100px;
	color: white;
	font-size: 2em;
}

.non_graded {
	height: 50px;
	color: white;
	font-size: 2em;
}