.handle:hover{cursor: move;}

.cont {
	width: 90%;
	margin: auto;
	background: #eeefe9;
	padding-top:120px;
}
.right_side{
		background: #E9E6DF;
}
.test {
	background: #F9FAFA;
}
.profile_info_row{
    margin-bottom: 10px;
}
.content_containter{
	width: 98%;
}
.profile_picture {
	width:200px;
	height:200px;
	background-color:#999;
	float:left;	
}
.profile_info{
	float: left;
	margin-left: 15px;
}
.name{
    font-weight: bold;
    font-size: 2.5em;
}
.info{
	font-size: 1em;
	line-height: 0.7em;
}