.tabs {
	display:inline-block;
	width: 100%;
	margin-top: 2%;
}

.tab-links{
	margin:0px;
	border-bottom: 1px solid #CCCCCC;
}
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 2px;
	display: inline;
	list-style:none;
}

.tab-content .table {
	width: 130% !important;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	font-weight: lighter;
	color: grey !important;
	transition:all linear 0.15s;
	background-color: white;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background-color:#3B8FA3;
	font-weight: bold;
	color: white !important;

}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.15);	
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.profile_picture {
	width:200px;
	height:200px;
	/*background-color:#999;*/
	float: left;	
}

.profile_picture_2 {
	margin-top:50px;
	float:left;	
}

.navigation-list li{
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;

}
.navigation-list li a{
	color : black;
	font-weight:600;
	text-align: center;
	transition:all linear 0.15s;

}	

.navigation-list {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navigation-list > li {
  position: relative;
  display: block;
}

.navigation-list > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navigation-list > li > a:hover{
  text-decoration: none;
  background-color: #a7cce5;
}

.navigation-list > li.disabled > a {
  color: #b4bcc2;
}