.tabs {
	width:80%;
	display:inline-block;
}

.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

.profile_picture {
	width:200px;
	height:200px;
	background-color:#999;
	float:left;"	
}
/*
.mybutton {
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.mybutton:hover {

}
*/
.mylist li{
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;

}
.mylist li a{
	color : black;
	font-weight:600;
	text-align: center;
	transition:all linear 0.15s;

}	

.mylist {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.mylist > li {
  position: relative;
  display: block;
}
.mylist > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.mylist > li > a:hover{
  text-decoration: none;
  background-color: #a7cce5;
}
.mylist > li.disabled > a {
  color: #b4bcc2;
}
li {
	text-decoration: none;
}