.tabs {
	display:inline-block;
	width: 100%;
}
.tab-links{
	margin:0px;
}
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 2px;
	display: inline;
	list-style:none;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#7FB5DA;
	font-size:1em;
	font-weight:bold;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}

/*.navtab{
	margin-left: -16px;
	width: 100%;
	padding-bottom: 10px;
	margin-top:0px;


}
.navtab .row {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
*//*	border-bottom: 1px solid black;*/
/*	box-shadow: -1px 1px 1px grey;*/
/*	margin-left: 0px;
	margin-right: -30px;
	transition:all linear 0.5s;
	border-left: solid 2px #C1C1C1;

}
.navtab .row:hover{
	background: red;
}
.navtab .row:last-child{
*//*	border-bottom: none;*/
/*}*/	
/*.navtab .row:first-child{
	border-top: solid 1px grey;
}*/
/*.navtab .row:last-child:hover{
	background: none;
}	
.navtab .row:first-child:hover{
	background: none;
}
.navtab .active{
	border-left: none;
	background: #eeefe9;
	pointer-events: none;
   	cursor: default;
	box-shadow: none;
	box-shadow: 3px  0px 3px grey;

}
.navtab .active:hover{
	background: none;

}*/
