.tabs {
	display:inline-block;
	width: 103.25%;
}
.tab-links{
	margin:0px;
}
.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 2px;
	display: inline;
	list-style:none;
}

.tab-content .table {
	width: 130% !important;
}

.tab-links a {
	padding:9px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	font-weight: lighter;
	color: grey !important;
	transition:all linear 0.15s;
	background-color: white;
}

.tab-links a:hover {
	background:#a7cce5;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background-color:#3B8FA3;
	font-weight: bold;
	color: white !important;

}

.tab-content {
	padding:15px;
	border-radius:3px;
	box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}