# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/log/*.log
/tmp
*~

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

.DS_Store
/public/system
/public/uploads/*
*.rbc
capybara-*.html
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
/config/secrets.yml

# Ignoring migrations
db/migrate/*.rb

# These should all be checked in to normalise the environment:
Gemfile.lock, .ruby-version, .ruby-gemset

# Ignoring generated model diagram
models.svg

# Ignoring .java and .class files
/students_solutions/Java/*.java
/students_solutions/Class/*.class
/students_solutions/*
.env