<html>
<head>
<ul class="sortable">
  <%- @tracks.each do |track| %>
		
		 <li><%= track.title %></li>
		
	<% end %>
</ul>
<%= javascript_include_tag 'jquery.sortable.js' %> 
<script>
    $('.sortable').sortable();
</script>

</head>



<body>

</body>
</html>