<head>

<%= javascript_include_tag 'jquery-2.1.0.js', 'jquery.tablednd.js' ,'jquery.tablednd.0.6.min.js' %>

<script type="text/javascript" charset="utf-8">

$(document).ready(function() {
	$('#list-of-tracks').tableDnD({
		onDrop: function(table, row) {
		//var data = $.tableDnD.serialize();
 		$.ajax({
        url: "/tracks",
        type: "post",
        data: $('#list-of-tracks').sortable('serialize'),
        dataType: 'script',
        complete: function(request){
          $('#list-of-tracks').effect('highlight');
        }
      });
		}
	})
})

</script>
</head>

<table id="list-of-tracks" cellspacing="4" cellpadding="4">
	<%- @tracks.each do |track| %>
    	<tr id="track-<%= track.id %>"><td><%= track.title %></td></tr>
	<% end %>
</table>



