<head>
<%= javascript_include_tag 'jquery-2.1.0.js' %>
<%= javascript_include_tag 'jquery.sortable.js'%>

</head>

<ul class="list-of-tracks" >
	<%- @tracks.each do |track| %>
		<li id="track_<%= track.id %>" ><%= track.title %> </li>
	<% end %>
</ul>

<script>
	
	$(function () {
		$('.list-of-tracks').sortable().bind("sortupdate", function() {
		//alert("testing that sorting is occuring") ; //this alert appears
		updateValues();
		});
	});
	
	function updateValues() {
		/*var items = [];
		$("list-of-tracks").children().each(function() {
		var item = {difficulty: $(this).text()};
		items.push(item);
		}); */
		var newOrder = $('#list-of-tracks').sortable('toArray').toString(); 

		var jsonData = JSON.stringify(newOrder);	
	
		$.ajax ({
		url: "/tracks", //we need the reordering to appear on the same page (index page)
		type: "POST",  
		data: jsonData,
		dataType: "json",
		contentType: "application/json; charset=utf-8",
		success: function(){
			alert("test 2 ") // this alert does not appear
		},
		error: function(){}
		});
	};
</script>

