<head>
<script>
<%= javascript_include_tag 'gmap3.min' %>
</script>

</head>

<table id="table-1" cellspacing="0" cellpadding="2">
    <tr id="1"><td>1</td><td>One</td><td>some text</td></tr>
    <tr id="2"><td>2</td><td>Two</td><td>some text</td></tr>
    <tr id="3"><td>3</td><td>Three</td><td>some text</td></tr>
    <tr id="4"><td>4</td><td>Four</td><td>some text</td></tr>
    <tr id="5"><td>5</td><td>Five</td><td>some text</td></tr>
    <tr id="6"><td>6</td><td>Six</td><td>some text</td></tr>
</table>


<ul id="list-of-tracks" style="cursor: move">
  <% @tracks.each do |track| %>
    <li id="item_<%= track.id %>">
      <%= track.title %>
    </li>
  <% end %>
</ul>
