<head>
<%= javascript_include_tag 'jquery-2.1.0.js' %>
<%= javascript_include_tag 'jquery.sortable.js'%>

</head>

<ul class="list-of-tracks" >
	<%- @tracks.each do |track| %>
		<li id="track_<%= track.id %>" ><%= track.title %> </li>
	<% end %>
</ul>

<script>
	
	$(function () {
		$('.list-of-tracks').sortable().bind("sortupdate", function() {
		updateValues();
		});
	});
	
	function updateValues() {
		var items = [];
		$("list-of-tracks").children().each(function() {
		var item = {difficulty: $(this).text()};
		items.push(item);
		});
		var jsonData = JSON.stringify(items);	
		
		$.ajax ({
		url: "/tracks",
		type: "Post",
		data: jsonData,
		dataType: "json",
		contentType: "application/json; charset=utf-8",
		success: function(){
		alert("ya rab ");
		},
		error: function(){}
		});
	};
</script>

