

<body>
<script type="text/javascript">
function toggle_visibility(id) {
var e = document.getElementById(id);
if(e.style.display == 'block')
e.style.display = 'none';
else
e.style.display = 'block';
}
</script>
</body>
<br><ul class="navbar-brand pull-right"><%= link_to "Create New Test case"  , {:controller => 'test_cases',:action => 'new',
    :method => :get, :problem_id => @problem.id },{class: 'btn btn-primary btn' }  %> </ul></br>
<a href="#" return:false; class="Lst"  onclick="toggle_visibility('foo'); return false;"  style="font:120px"> Previous test case(s)</a>
<div id="foo" style="display:none;">


<table class="table table-striped", style = "width:60%">

        <thead>
          <tr>
            <th style ="width:20%" >Input</th>
            <th style ="width:20%" >Output</th>
            
            <th style ="width:20%" >View or Edit</th>
          </tr>
        </thead>
        <tbody>

          <tr>
          <% @test_cases.each do |test_case| %>
          
            <td><%= test_case.input   %></td>
            <td><%= test_case.output   %></td>
            
            
            <td><%= link_to "View or Edit", :controller => 'test_cases', :action => 'edit', :id => 
            test_case.id, 
              :method => :get, class: 'btn btn-primary btn-xs' %></td>

             </tr>
          
        </tbody>
        <% end %>

      </table>
	
</div>

<style type="text/css" />


a.Lst {
    font-size: 30px;
    line-height: 0px;
    padding-left: 0px;
    font-weight: normal;
}
</style>
