<%= javascript_include_tag "replies" %>

<div id="text_holder">
	<%= render "/replies/load_replies" %>
</div>
<div class="container submiting">
	<div class="row editor_area well">
		<textarea id="input_field" class='wysihtml5' placeholder="Enter text ..."></textarea>
	</div>
	<%= submit_tag "Submit", class:"btn btn-success", onclick:"post_reply(#{params[:id]})",style:"float:right" %>
</div>