<% if !@replies.blank? %>
	<% for reply in @replies %>
		<div>
			<%= reply.content %>
			<%= reply.created_at  %>
			<%= link_to "edit", edit_reply_path(reply), {:remote => true, :id=>"edit"}%>
			<%= link_to "Destroy", reply,  :remote => true, :method => :delete, :class => 'delete_reply'%>
		</div>
		<br>

	<% end %>  
<% end %>