<% if !@replies.blank? %>
	<% for reply in @replies %>
		<div>
			<%= reply.content %>
			<%= reply.created_at  %>
			<%= link_to "edit", edit_reply_path(reply), {:remote => true, :id=>"edit"}%>
			<%= link_to "Destroy", reply ,data: {confirm: "Are you sure?"}, :method => :delete , :remote => true%>
		</div>
		<br>

	<% end %>  
<% end %>