body{
	background-image: url("images/Top5.jpg");
	background-size: 100% 47%;
	background-repeat: no-repeat;

	background-color: #F4F4F4;
}

b{
	color: red;
	margin-left: 10%;
}

#made{
margin-left: 70%;	
}

h1{
	color: #F4F4F4;
	font-family: 'Pacifico',Cursive;
	font-size: 4.6em;
	font-weight: bolder;
	text-transform: none;
	letter-spacing: -1px;
	line-height: 1.6;
	text-shadow:0px 0px 20px darkblue;
	margin-left: 32%;
	margin-top: 5%;
}

h2{
	color: #333333;
	font-size: 2em;
	font-family: 'open sans', Helvetica,Arial,sans-serif;
	font-weight: 300;
	font-style: normal;
	letter-spacing: 1.2px;
	line-height: 1.4;
	text-transform: none;
	margin-left: 16%;
}

h3{
	font-style: normal;
	font-weight: 100;
	color: #333333;
	font-size: 1.2em;
	font-family: 'open sans', Helvetica,Arial,sans-serif;
	letter-spacing: 1.2px;
	line-height: 1.4;
	text-transform: none;
	margin-left: 1%;
	float: left;
}

span{
	font-weight: 400;
}

hr{
	margin-left: 13%;
	margin-right: 20%;
}

#profImg{
	width: 250px;
	height: 230px;
	border-radius: 100%;
	margin-top: 4.5%	;
	margin-left: 42%;
	border:10px solid #F4F4F4;

}
#profImg:hover{
	width: 250px;
	height: 230px;
	border-radius: 100%;
	margin-top: 4.5%	;
	margin-left: 42%;
	border:10px solid #F4F4F4;
	box-shadow: 0px 0px 10px darkblue;
}

#share-button{
	margin-left: 43%;
	margin-top: 1%;

}

#info{
	width: 50%;
	height: 20%;
	margin-left: 26%;
}