<!--Add delete button to the edit view in model answers
Author: Mohamed Fadel-->

<th style = "width:20%">Delete</th>

<td><%= button_to "Delete", {controller: :hints, action: :destroy, id: hint1.id},
							:method => :delete, class: 'btn btn-primary btn-xs' %></td>
