<% provide(:title, "Edit Answer") %>
<%= form_for(@answer) do |f| %>

<h1>Answer</h1>

<%= flash[:notice]%>
       
            <p><%= f.text_area :answer,:cols => "50", :rows => "15" %></p> 
			 <%= f.submit "Save changes", class: "btn btn-large btn-primary"  %>
         
        

        
          
<%end%>