<%= form_for :model_answer, url: model_answers_path  do |f| %>
<% answers = ModelAnswer.find(params[:id]) %>
<h1>Answer</h1>
<p><%= answers.answer %></p>

  <table class="table-striped", style = "width:50%">

      
        <tbody>

          <tr>
         
            <td><%= f.text_area :answer, :value =>  answers.answer ,:cols => "50", :rows => "15" %></td>
            
            <td><%= button_to "Save"  , {:action => 'new', :controller => 'model_answers',:method => :post},{class: 'btn btn-primary btn' }   %></td>

             </tr>
          
        </tbody>
        
      </table>
<%end%>