<<<<<<< HEAD
=======
<%= form_for :model_answer, url: model_answers_path  do |f| %>
<h1>Edit Your Ans</h1>
<h2>Title</h2>

<table>
	<tr>
		<th>Text</th>
	</tr>
	<% @answers.each do |answer1| %>
	<tr>
		<td><%= answer1.answer %></td>
	</tr>
	<% end %>
</table>
<p>
	<strong>Text:</strong>
	<%= @answer.answer %>
</p>
>>>>>>> 5b0a10a34bbe0ad7e8fd7eda67578e05f2d901a4
