<div id="result_body">
	<div class="panel-body">
		<div id="results">
			<% unless @lecturers.present? or @teaching_assisstants.present?\
						or @courses.present? or @students.present? %>
				<div style="text-align:center">
					<p>No Result match</p>
				</div>
			<% else %>
				<% openable = true %>
				<% if @lecturers.present? %>
					<div class="panel-group list-group" id="accordion">
						<%= render "result_form", objects: @lecturers, openable: openable %>
						<% openable = false %>
					</div>
				<% end %>
				<% if @students.present? %>
					<div class="panel-group list-group" id="accordion">
						<%= render "result_form", objects: @students, openable: openable %>
						<% openable = false %>
					</div>
				<% end %>
				<% if @teaching_assisstants.present? %>
					<div class="panel-group list-group" id="accordion">
						<%= render "result_form", objects: @teaching_assisstants, openable: openable %>
						<% openable = false %>
					</div>
				<% end %>
				<% if @courses.present? %>
					<div class="panel-group list-group" id="accordion">
						<%= render "result_form", objects: @courses, openable: openable %>
						<% openable = false %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>