<!--
# [View Layout - Story 1.2]
# General layout for footer
# Author: Ahmed Elassuty
-->
<!-- <div style="margin-top:15px">
	<span style="margin:5px">
		<%= link_to "About us"%>
	</span>
	<span style="margin:5px">
		<%= link_to "Contact us"%>
	</span>
</div> -->
<div class="pull-left ft_space">
</div>
<div class="pull-right ft_space">
</div>