<!-- Documentation The footer file contains two links contact us and about us till now these shoud redirect you to two
static pages containts info about us or contact forms
 -->

<div style="margin-top:20px">
	<span style="margin:5px">
		<%= link_to "About us"%>
	</span>
	<span style="margin:5px">
		<%= link_to "Contact us"%>
	</span>
</div>