<!--
# [View Layout - Story 1.2]
# General layout for footer
# Author: Ahmed Elassuty
-->
<!-- <div style="margin-top:15px">
	<span style="margin:5px">
		<%= link_to "About us"%>
	</span>
	<span style="margin:5px">
		<%= link_to "Contact us"%>
	</span>
</div> -->
<div class="container">
	<div class="pull-left ft_space">
		<p>&copy; Valorours.IO 2013-2014</p>
	</div>
	<div class="pull-right ft_space">
		<%= link_to "Contributors", contributors_path %>
		&nbsp;&nbsp;
		<%= link_to "Contact us", contributors_path %>
	</div>
</div>