<!-- Documentation  Anything should be on the left side bar for signed in users the code should goes here.
You can Write whatever in a partial and render it here
render location of your form -->

<div id="left_side_bar" align="left" class="col-lg-4 well pull-left" style="width:19%;height:700px;margin-left:6px">
</div>