<div id="nav_bar">
	<tr>
		<td><%= button_to "Courses", {:controller => 'courses', :action => 'index',
			:course_id => @course.id} %> </td>
	</tr>
	<style>
	div.nav_bar {
		float: right;
		width: 90px;
		background-color: blue;
	}
	</style>