<!--
# [View Layout - Story 1.2]
# General layout for right side bar
# Author: Ahmed Elassuty
-->
<div id="right_side_bar" align="right" class="col-lg-4 well pull-right side-right" style="width:10%">
</div>