<!-- Documentation  Anything should be on the right side bar for signed in users the code should goes here.
You can Write whatever in a partial and render it here
render location of your form -->

<div id="right_side_bar" align="right" class="col-lg-4 well pull-right side-bar-right-fix-rat">
</div>