<!--
# [View Layout - Story 1.2]
# General layout for right side bar
# Author: Ahmed Elassuty
-->
<div id="right_side_bar" class="well pull-right side-right" style="width:20%;min-height:500px">
</div>