<!--
# [View Layout - Story 1.2]
# General layout for right side bar
# Author: Ahmed Elassuty
-->
<div id="right_side_bar" class="well pull-right side-right" style="width:20%;min-height:500px">
	<!--
	# [Get Recommended Problems - Story 5.6]
	# Displays the recommende problem hash in a table as [recommender_name | problem]
	# Author: Mohab Ghanim
	-->
	<% if student_signed_in? %>
		<div>
			<% recommended_problems = current_student.getClassMatesRecommendations 
			if recommended_problems != nil then %>
				<table class="table table-striped table-bordered table-responsive">
					<caption><b>Recommendations by classmates<b></caption>
					<% recommended_problems.each do |key , value| %>
						<tr>
							<td>
								<%= value["recommender_name"] %>
							</td>
							<td>
								<%= link_to value["problem_title"], 
								controller: "problems", action: "show", id: key %>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	<% end %>
</div>