<!--
# [View Layout - Story 1.2]
# General layout for right side bar
# Author: Ahmed Elassuty
-->
<div id="right_side_bar" class="well pull-right side-right" style="width:25%">
<% recommended_problems = current_student.getClassMatesRecommendations 
if recommended_problems != nil then %>
	<table class="table table-striped table-bordered table-responsive">
		<caption><b>Recommendations by classmates<b></caption>
		<% recommended_problems.each do |key , value| %>
			<tr>
				<td>
					<%= value["recommender_name"] %>
				</td>
				<td>
					<%= link_to value["problem_title"], controller: "problems", action: "show", id: key %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>


</div>