<!--
# [View Layout - Story 1.2]
# Sign in header
# Author: Ahmed Elassuty
-->
<%= form_tag utilities_simple_search_path, :method => 'get',
		remote: controller?("utilities","simple_search"), class: "navbar-form navbar-left" do %>
		<div class="input-group" style="width:350px">	
			<%= text_field_tag :search, params[:search], class: "form-control col-lg-8",
				placeholder: "Search for Users and Courses", id: "search_field",
				data: { autocomplete_source: utilities_auto_complete_path } %>
			<span class="input-group-btn">
				<%= link_to "Try Advanced", utilities_advanced_search_path,
					class: "btn btn-default col-lg-12" %>
			</span>
		</div>
<% end %>