<!--
# [View Layout - Story 1.2]
# Sign in header
# Author: Ahmed Elassuty
-->
<div class="navbar-header">
	<%= form_tag utilities_simple_search_path, :method => 'get',
			remote: controller?("utilities"), class: "navbar-form navbar-left"  do %>
		<p>
			<%= text_field_tag :search, params[:search], class: "form-control", size: "30", placeholder: "Search for Users and Courses"  %>
		</p>
	<% end %>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
	<%= render "layouts/log_out_form" %>
</div>