<!--
# [View Layout - Story 1.2]
# Sign in header
# Author: Ahmed Elassuty
-->
<div class="navbar-header">
	<form class="navbar-form navbar-left">
		<input type="text" class="form-control col-lg-8" placeholder="Search">
	</form>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
	<%= render "layouts/log_out_form" %>
</div>