<h3 align ="center">Edit Solution's Constraints</h2>
<p><%= @parameters.parameter %></p>
<%= @variables.variable_name %>

<%= button_to "Save changes", {:controller => 'solutions_constraints', :action => 'show'}, class: "btn btn-success" , style: "float: center;" %>