<%= button_to "Abort and Delete Problem", action: "destroy_problem" , id: @problem.id %>
<%= button_to "Save as Incomplete", action: "done" , id: @problem.id %>
<Button><%= link_to "Abort and Delete Problem", destroy_problem_problem_path(:problems => { :destroy_problem => {:id => @problem.id} } )%></button>
<Button><%= link_to "Save as Incomplete", done_problem_path(:problems => { :done => {:id => @problem.id} } )%></button>