<script type="text/javascript">
var digit=-1;
var min=0;
var time;
var timer_is_on=0;

function timer(){
	digit++;

	if(digit>59){
		min++;
		document.getElementById("mins").innerHTML=min;
		digit=0;
	}
	if (digit <= 9)
		digit = '0' + digit;
	document.getElementById("secs").innerHTML=digit;
}

function activate(){
	if(!timer_is_on){
		timer_is_on=1;
		time=setInterval(timer, 1000);
		timer();
	}
}

function doLoad() {
	activate();
}

window.onload = doLoad;

</script>

<div align = center>
<span id="mins" >0</span>:<span id="secs">00</span>
</div>
