		<table class="table table-striped" style = "width:60%">
			<thead>
				<tr>
					<th>Student's Name</th>
					<th style = "width:20%">Created At</th>
					<th style = "width:20%">Updated At</th>
					<th>Grade</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<% @total_grade = 0 %>
					<% @problems.each do |problem| %>
						<% @total_grade += Grade.where(problem_id: @problem.id).where(student_id: @student.id) %>
					<% end %>
					<tr>
 						<td><%= student.name %></td>
						<td><%= @total_grade %></td>
					</tr>
				<% end %>
			</tbody>					
	</table>
	<% end %>