

#name{
	font-size: 40px;
	font-family: Fantasy;
	text-align: center;
	vertical-align: center;
	margin-left: 20px;
	margin-top: 30px;
}


#oval {
	width: 330px;
	height: 100px;
	margin-left: 60px;
	margin-top: 40px;
	background: rgba(0,0,0,0.2);
	/*background: transparent;*/
	/*border-width: 10px;*/
	border: 1px solid black;
	border-color: black;
	text-align: center;
	vertical-align: center;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}

h3,p{
	color: black;
	text-align: left;
	vertical-align: center;
	margin-left: 20px;
}

body {
	background-color: black;
	background-image:url("images/bg.jpg");
	background-size: cover;
}


#h {
	background-color: green;
}

.container {
	width: 800px;
	height: 600px;
	float: left;
	margin-top: -200px;
	margin-left: 400px;
	/*position: absolute;*/
	/*padding-top: 10px;*/
	/*background-color: yellow;*/
}

.circular {
	margin-left: 190px;
	margin-top: -125px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url("images/per.png") no-repeat;
	}

.circular img {
	opacity: 0;
	filter: alpha(opacity=0);
}


#goCrazy {
	width: 80px; 
	height: 80px;
	margin-left: 110px; 
	margin-top: 80px;
	background-color : #FFC2B2;
	border: 0px;
}

.about {
	width: 150px;
	float: left;
	height: 150px;
	/*margin-left: auto;*/
	position: relative;
	/*margin-right: auto;*/
	margin-top: 20px;
	/*border: 1px solid white;*/
	text-align: center;
	background-color: black;
	background-color:rgba(255, 255, 255, 0.7);
	/*border-radius: 220px / 520px;*/
	border-radius: 500px;

	text-align: center;
	/*vertical-align: middle;*/
	/*line-height: 150px;  */
}


/* SOCIAL ICONS - GENERAL */
.social {  position: absolute; list-style:none; margin-left: 265px; width:10px; }
.social li { display:block; float:top; margin-left: -40px; background-repeat:no-repeat; margin-top: 10px;}
.social li a { display:block; width:0px; height:48px; padding-bottom:10px; position:relative; text-decoration:none; }
.social li a strong { font-weight:normal; position:absolute; left:0px; top:5px; color:#fff; padding:0px;
 text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
 -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* SOCIAL ICONS - GENERAL */
.social2 {  position: absolute; list-style:none; margin-left: 200px; width:10px; }
.social2 li { display:block; float:top; margin-left: -40px; background-repeat:no-repeat; margin-top: 10px;}
.social2 li a { display:block; width:0px; height:48px; padding-bottom:10px; position:relative; text-decoration:none; }
.social2 li a strong { font-weight:normal; position:absolute; left:0px; top:5px; color:#fff; padding:0px;
 text-shadow:1px 1px 0 rgba(0, 0, 0, 0.75); background-color:rgba(0, 0, 0, 0.7);
 -moz-border-radius:3px; -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); -webkit-border-radius:3px; -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); border-radius:3px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


li.facebook { background-image:url("images/facebook.png"); }
li.linkedin { background-image:url("images/linkedin.png"); }
li.google { background-image:url("images/google.png"); }
li.github { background-image:url("images/github.png"); }
li.twitter { background-image:url("images/twitter.png"); }

/* SOCIAL ICONS - CSS3 */
#css3:hover li { opacity:0.2; }

#css3 li { 
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-transition-property: opacity; -webkit-transition-duration: 500ms;
 -moz-transition-property: opacity; -moz-transition-duration: 500ms; }
#css3 li a strong { opacity:0;
 -webkit-transition-property: opacity, top; -webkit-transition-duration: 300ms;
 -moz-transition-property: opacity, top; -moz-transition-duration: 300ms; }

#css3 li:hover { 
	filter: none;
    -webkit-filter: grayscale(0);
	opacity:1; 
}
#css3 li:hover a strong { opacity:1; top:-10px; }
