body {
	            font-family: 'Rancho', serif;
	            font-size: 48px;
	            background-image: url('../img/2.jpg');
	            background-repeat: no-repeat;
	            background-size: cover;
	        }
	        #powerTip {
	        	font-family: 'Roboto Slab', serif;
	        	font-size: 20px;
	        }
	        #tm {
				opacity:0.1;
				filter:alpha(opacity=40); /* For IE8 and earlier */
			}
			#tm:hover {
				opacity:1.0;
				filter:alpha(opacity=100); /* For IE8 and earlier */
			}
			#powerTip {
				opacity: 0.6;
			}
			.small {
				display: inline-block;
			  	width: 20px;
			  	height: 20px;
			  	*margin-right: .3em;
			  	line-height: 14px;
			  	vertical-align: text-top;
			  	background-image: url("glyphicons-halflings.png");
			  	background-position: 20px 20px;
			  	background-repeat: no-repeat;
				margin-top: 9px;
			}
			.cir {
				height: 100px;
				width: 100px;
				border-radius: 100px;
				box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
				margin: 10px 0px;
			}