<div align="center">
	<div >
		<h3><%=@post.title%></h3>
		<%= @post.content %>
		<br><br>
		<% unless @replies.blank? %>
			<%= render "/replies/index", :@replies => @replies , :@post => @post %>
		<% else %>
			No Replies in this post yet .
		<% end %>
	</div>
</div>