<div align="center">
	<div style="width: 50%; margin-left:25%">
		<h3><%=@post.title%></h3>
			<% unless @replies.blank? %>
				<% @replies.each do |reply| %>
					<div style="background-color: #A8A8A8">
					<%= reply.content %><br>
					</div>
					<br>
				<% end %>
			<% else %>
			No Replies in this post yet .
		<% end %>
	</div>
</div>