<div>
	<% if @discussionBoard.activated %>
		<div >
			<h2><%=@discussionBoard.title%></h2>
			<br>
			<% unless @posts.blank? %>
				<% @posts.each do |post| %>
					<div>
						<b><%= post.owner.name %></b>
						<%= link_to post.title, replies_path(:id=>post) %>
						<br>
						<%= post.views_count %>
					</div>
					<hr style="display: block; 
								height: 1px;
    							border: 0; 
    							border-top: 1px solid #ccc;
    							margin: 1em 0; 
    							padding: 0;">
				<% end %>
			<% else %>
				No Posts Yet .. Try Creating a Post
			<% end %>
		</div>
	<% else %>
		The discusstion board is deactivated
	<% end %>
</div>