<div align="center">
	<% if @discussionBoard.activated == true %>
		<div style="width: 50%; margin-left:25%">
			<h3><%= @discussionBoard.title %></h3>
				<% unless @posts.blank? %>
					<% @posts.each do |post| %>
						<div>
							<td><%= link_to post.title, :controller => 'posts', :action=> 'show',
								 :id => post.id,:method => :get, class: "btn btn-success" %>
							</td>
						<%= post.views_count %>
						</div>
					<br>
				<% end %>
			<% else %>
				No Posts Yet .. Try Creating a Post
			<% end %>
		</div>
		<div>
			<%= link_to "Add Post", new_post_path(discussion_board_id: @discussionBoard.id), 
				class: "btn btn-success", 
						style: "float: left;margin-left: 15px" %> 
		</div> 	
	<% else %>
		The discusstion board is deactivated
	<% end %>
</div>