<h1>Hi!</h1>
<pre><%= `javac rubyJava2.java 2>&1` %></pre>
<pre><%= `java rubyJava2 2>&1` %></pre>
<pre><%= "rubyJava.java:3: ';' expected\n\t\tSystem.out.println(\"CoolSoft!\")\n\t\t                               ^\n1 error\n"%></pre>
<h1>this</h1>
<pre><%= @res %></pre>
