<!-- Introduction Section -->		
<div class="intro">
	<div class="row">
		<img class="img-responsive" src="/assets/Top.png">
	</div>
</div>
<!-- Features Section -->
<div class="features">
	<div class="container padded">
	    <div class="row">
	        <div class="col-lg-12"><h2>FOUR MODES</h2><hr></div>
	    </div>
	    <div class="row">
	        <div class="col-sm-6 col-md-3">
	            <img class="img-circle img-responsive" src="images/speed.jpg">
	            <h3>Speed</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	        </div>
	        <div class="col-sm-6 col-md-3">
	            <img class="img-circle img-responsive" src="images/eco.jpg">
	            <h3>Eco Friendly</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	        </div>
	        <div class="clearfix hidden-md hidden-lg"></div>
	        <div class="col-sm-6 col-md-3">
	            <img class="img-circle img-responsive" src="images/scenic.jpg">
	            <h3>Scenic</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	        </div>
	        <div class="col-sm-6 col-md-3">
	            <img class="img-circle img-responsive" src="images/safety.jpg">
	            <h3>Safety</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
	        </div>
	    </div>
	</div>
</div>    
<!-- SignUp Section -->
<div class="info">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 tabbable">
                <!-- Tabs go here -->
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#student" data-toggle="tab">Student</a></li>
                    <li><a href="#lec" data-toggle="tab">Lecturer</a></li>
                    <li><a href="#ta" data-toggle="tab">Teaching Assistant</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="student"></div><p>As a student you can solve many problems to get your level up in coding. competting with your friends, You also can have contests as well as asking profionals for questions for just ask on facebook,twitter </p>
                    <div class="tab-pane fade in" id="lec"></div>

                    <div class="tab-pane fade in" id="ta"></div>

	            </div>
	        </div>
	    </div>       
	</div>
</div>
<div class="marketing">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-responsive" src="images/app.png">
            </div>
            <div class="col-sm-6">
                <h3 class="tpad">ALWAYS ON HAND</h3><hr>
                <p>Download the App for your device now and try it for yourself. No matter how regularly you make a journey this App will completely change the way you travel.</p>
                <p><a class="btn btn-large btn-primary" href="#">Get it now!</a></p>
            </div>
        </div>
    </div>    
</div> 
